.todo_item{
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 6px;
  .todo_item_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .input_checkbox{
      margin-right: 10px;
    }
    .input_text{
      border-radius: 6px;
      border: 1px solid #ccc;
      padding: 10px 20px;
    }
    .deleteBtn{
      border: none;
      padding: 10px 20px;
      border-radius: 6px;
      color: #ffffff;
      background-color: darkred;
    }
    .editBtn{
      border: none;
      padding: 10px 20px;
      border-radius: 6px;
      color: #ffffff;
      background-color: darkblue;
    }
    .cancelBtn{
      border: none;
      padding: 10px 20px;
      border-radius: 6px;
      color: #ffffff;
      background-color: #cccccc;
    }
  }
}