:global(img) {
  margin: 0;
  padding: 0;
}

:global(body) {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: aqua;
}

:global(input) {
  outline: none;
  border: none;
  :focus {
    outline: 0;
  }
}

:global(ul) {
  padding: 0;
  margin: 0;
  list-style: none;
}

:global(h1) {
  padding: 0;
  margin: 0;
}

:global(h2) {
  padding: 0;
  margin: 0;
}

:global(h3) {
  padding: 0;
  margin: 0;
}

:global(h4) {
  padding: 0;
  margin: 0;
}

:global(h5) {
  padding: 0;
  margin: 0;
}

:global(p) {
  padding: 0;
  margin: 0;
}


:global(.container) {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
:global(.content) {
  width: 800px;
  height: 100%;
  display: flex;
  background: #ffffff;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  div{
    width: 100%;
  }
}


@media (max-width: 1200px) {
  :global(.container) {
    max-width: calc(1024px - 32px);
  }
}

@media (max-width: 1024px) {
  :global(.container) {
    max-width: calc(768px - 32px);
  }
}

@media (max-width: 768px) {
  :global(.container) {
    max-width: calc(640px - 32px);
  }
}

@media (max-width: 640px) {
  :global(.container) {
    max-width: calc(640px - 32px);
    padding: 0 16px;
  }
}


:global(.flex) {
  display: flex;
}

:global(.justifyContentBetween) {
  justify-content: space-between;
}

:global(.justifyContentCenter) {
  justify-content: center;
}

:global(.alignItemsCenter) {
  align-items: center;
}

:global(.hide) {
  display: none !important;
}

:global(.show) {
  display: block;
}

:global(button) {
  cursor: pointer;
}

:global(p) {
  margin: 0;
  padding: 0;
}

:global(a) {
  text-decoration: none;
}

:global(.justifyContentBetween) {
  justify-content: space-between;
}

:global(.justifyContentAround) {
  justify-content: space-around;
}

:global(.alignItemsCenter) {
  align-items: center;
}

:global(.pointer) {
  cursor: pointer;
}