  .form{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    input{
      border: 1px solid gray;
      padding: 10px 20px;
      border-radius: 6px;
      margin-right: 20px;
      width: 100%;
    }
    button{
      background: green;
      border: none;
      border-radius: 6px;
      color: white;
      padding: 0 20px;
      display: block;
    }
}